name: First Github Action project
on: [push, pull_request]  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 14
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '14'
      - name: Build with Maven  
        run: mvn clean install